@model IEnumerable<Student>

<h1>All Student</h1>
<hr>
<div class="table-responsive mt-4">
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>@Html.DisplayNameFor(m => m.StudentId)</th>
                <th>@Html.DisplayNameFor(m => m.FirstName)</th>
                <th>@Html.DisplayNameFor(m => m.LastName)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => student.StudentId)</td>
                    <td>@Html.DisplayFor(modelItem => student.FirstName)</td>
                    <td>@Html.DisplayFor(modelItem => student.LastName)</td>
                    <td>
                        <a asp-action="Update" asp-route-id="@student.StudentId" class="btn btn-sm btn-primary">
                            <i class="bi bi-eye"></i> Update
                        </a>
                        <a asp-action="Delete" asp-route-id="@student.StudentId" class="btn btn-sm btn-danger">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>